.nav {
    background-color: #f9f9fa;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 20px 30px 20px 0px;
    box-sizing: border-box;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: rgb(75, 75, 75);
}

.badge--notification {
    animation: notificationAnimation 2s ease-in-out infinite;
    will-change: transform;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: none;
    }
}