body {
    text-align: center;
    font-size: 1vw;
}

.grid {
    display: grid;
    position: relative;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: repeat(20, 5%);
    gap: 10px;
    height: 100vh;
}

img {
    position: absolute;
    width: 100%;
    top:0;
    left:0;
}

.login{
    grid-area: "login";
    grid-row: 2 / 5;
    grid-column: 6 / 14;
    color: darkolivegreen;
    background-color: rgba(238,239,242, 0.7);
    border: 5px solid grey;
    border-radius: 30px;
}

.clock{
    grid-area: "clock";
    grid-row: 4 / 11;
    grid-column: 2 / 5;

    background-color: rgba(238,239,242, 0.7);
    border: 5px solid grey;
    border-radius: 30px;
}

.weather{
    grid-area: "weather";
    grid-row: 11 / 18;
    grid-column: 2 / 5;

    background-color: rgba(238,239,242, 0.7);
    border: 5px solid grey;
    border-radius: 30px;

}

.todo{
    grid-area: "todo";
    grid-row: 4 / 18;
    grid-column: -7 / -3;

    background-color: rgba(238,239,242, 0.7);
    border: 5px solid grey;
    border-radius: 30px;
}

.hidden {
    display: none;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputheight {
    height: 60px;
    font-size: 2vh;
}

.inputwidth {
    width: 600px;
}

#todo-list {
    font-size: 2vh;
    margin-top 5px;
}

span {
    font-size: 2vh;
}