@import "var.css";

body {
    background-color: var(--palette-peach);
    display: grid;
    grid-template-rows: 27px 550px 27px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    width: 954px;
    height: 604px;
}

.top-strip{
    border: var(--border-white);
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--palette-white);
    position: relative;
}

.bottom-strip {
    border: var(--border-white);
    border-top: none;
    overflow: hidden;
    display: flex;
    align-items: center;;
    color: var(--palette-white);
    position: relative;
    padding: 2px 0;
}

.top-strip span {
    position: absolute;
    left: -4px;
    font-weight: 600;
}

.bottom-strip span {
    position: absolute;
    left: -4px;
    font-weight: 600;
}

.main {
    border: var(--border-white);
    border-top: none;
    display: grid;
    grid-template-columns: 27px 900px 27px;
}

.left-strip {
    writing-mode:vertical-lr;
    text-orientation:upright;
    overflow: hidden;
    display: grid;
    grid-template-columns: 250px 250px 50px;
    border-right: var(--border-white);
}

.left-strip__top,
.left-strip__bottom {
    background-color: var(--palette-white);
    color: var(--palette-peach);
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    letter-spacing: -4px;
    padding: 0 2px;
}

.left-strip__middle {
    display: flex;
    justify-content: space-around;
    color: var(--palette-white);
    font-weight: 600;
    letter-spacing: -4px;
    padding: 0 2px;
}

.right-strip {
    writing-mode:vertical-lr;
    text-orientation:upright;
    overflow: hidden;
    display: grid;
    grid-template-columns: 275px 275px;
    border-left: var(--border-white);
}

.right-strip__top {
    background-color: var(--palette-white);
    color: var(--palette-peach);
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    letter-spacing: -2px;
    padding: 0 2px;
}

.right-strip__bottom  {
    color: var(--palette-white);
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    letter-spacing: -2px;
    padding: 0 2px;
}

.main-screen {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-screen__text {
    position: absolute;
    top: 100px;
    left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;;
    font-size: 50px;
    color: var(--palette-peach);
}

.main-screen__left {
    background-color: var(--palette-beige);
}

.main-screen__right {
    background-color: var(--palette-cream);
}